@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&family=Rubik&family=Syncopate:wght@700&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;


}

.logo_animation{
  animation: logo_animation 10s infinite linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: #CDCDCD; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #123B38; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F625E; 
}

@keyframes logo_animation {
  0% {
    transform: rotate(0deg) ;
  }

  100% {
    transform: rotate(359deg);

  }
}
